body {
    background-color: #e8e8e8;
    color: #4d4d4d;
    font-family: sans-serif;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.breaking-news {
    color: red;
    font-weight: bold;
}

.cat-scratching{
    width: 200px;
    border-radius: 50%;
}

#black-cat {
    width: 400px;
    border-radius: 50%;
    border: solid black 5px;
}

.three-cat {
    width:200px;
    border-radius: 50%
}